.topic{
    background-color: #0da0cc;
    border-radius: 15vw;
    height: 15vw;
    width: 15vw;
}
.info{
	background-color:#FF9900;
    width: 30%;
    padding:.5vw;
}
body{
	background-color: gray;
	color:black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2vw;
	text-align: left;
	overflow: hidden;
}
.content{
	float: center;
}
.left{
	background-color:#1A4C1A;
	position: absolute;
    left: 0px;
    top: 1vw;
    width: 30%;
	float: left;
    padding:.5vw;
	margin-bottom: .5vw;
}
.right{
	position: absolute;
    right: 0px;
    top: 1vw;
	background-color:#0000A3;
    width: 30%;
	float: right; 
    padding:.5vw;
	margin-bottom: .5vw;
}
li {
    list-style-type: square;
	font-size: 1vw;
}
